
#sliderFrame, #sliderFrame div {
    box-sizing: content-box;
}
#sliderFrame 
{
    position:relative;
    background-color:white;
}      

#slider, #slider .sliderInner {
       width: 100%;
    min-height: 506px;
    border-radius: 0px;
}
.mcSlc {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin: 0px auto;
    width: 100%;
    max-width: 100%;
}
#slider 
{
       background-color: white;
    position: relative;
   display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin: 0px auto;
  }

#slider a.imgLink, #slider .video {
    z-index:2;
    cursor:pointer;
    position:absolute;
    top:0px;left:0px;border:0;padding:0;margin:0;
    width:100%;height:100%;
}

#slider .navBulletsWrapper  {
    display:none;
}


#slider img, #slider>b, #slider a>b {
    position:absolute; border:none; display:none;
}

#slider .sliderInner {
    overflow:hidden;
    position:absolute; top:0; left:0;
}

#slider>a, #slider video, #slider audio {display:none;}


.group1-Wrapper 
{
    position:absolute;
    z-index:20;
    top:120px;
    margin-left:50%;
    width:1px;
}
a.group1-Prev, a.group1-Next
{
    width:50px;height:150px;
    background:transparent url(navbuttons2.gif); 
    display:block; 
    cursor:pointer;
    position:absolute;
    top:0;
    user-select: none;
}
a.group1-Prev{background-position:0 0; left: -510px;}
a.group1-Next {background-position:0 -150px;left:460px;}

a.group1-Prev:hover{background-position:50px 0;}
a.group1-Next:hover {background-position:50px -150px;}
a.group2-Prev, a.group2-Next, a.group2-Play, a.group2-Pause 
{
    width:20px; height:20px; 
    background:transparent url(navbuttons.gif); 
    display:inline-block; 
    *display:inline;zoom:1;
    margin-left:4px; margin-right:4px;
    cursor:pointer;
}
a.group2-Pause{background-position:0 0;}
a.group2-Play {background-position:0 -20px;}
a.group2-Next {background-position:0 -40px;}
a.group2-Prev {background-position:0 -60px;} 

a.group2-Pause:hover{background-position:20px 0;}
a.group2-Play:hover {background-position:20px -20px;}
a.group2-Next:hover {background-position:20px -40px;}
a.group2-Prev:hover {background-position:20px -60px;} 

