.error{
    color: white;
    font-size: 14px;
    height:2px;
    text-align: center;
    /*border: 1px solid #fff;*/
}

.alert_bar{
    color: red;
    font-size: 13px;
    margin-left: 101px;

}
.change_msg{
    color: red;
    font-size: 13px;
    margin-left: 101px;

}
ul.wed-navbar-list{
	padding-left: 50px;
}

th {
    padding: 20px 15px 20px;
    background-color: #fff5b9;
    border: 2px solid #860a00;
}
td {
    padding: 20px 15px 20px;
    background-color: #fff5b9;
    border: 1px solid #860a00;
}
div#slider figure img {
    height: auto !important;
}